block head
    head
        title= pageTitle
        link(href='/assets/css/ionicons/css/w3.css' rel='stylesheet')
        link(href='/assets/css/ionicons/css/ionicons.min.css' rel='stylesheet')
        //- script(src="/assets/js/app.js")
body
    .w3-row-padding
        .w3-card-2.w3-margin-top
            block header
                header.w3-container.w3-center.w3-teal
                    .w3-row
                        .w3-half
                            .w3-right= pageTitle
                        .w3-half.w3-text-right
                            .w3-right
                                a.w3-margin-16(
                                    href="/"
                                )
                                    i.icon.ion-ios-home-outline.w3-xxlarge.hoverbtn
                                a(
                                    href="#"
                                    onclick="document.getElementById('create-form').style.display='block'"
                                )
                                    i.icon.ion-ios-plus-outline.w3-xxlarge.hoverbtn
                                a(
                                    href="#"
                                    onclick="document.getElementById('export').style.display='block'"
                                )
                                    i.icon.ion-ios-download-outline.w3-xxlarge.hoverbtn
                                a(
                                    href="#"
                                    onclick="document.getElementById('import').style.display='block'"
                                )
                                    i.icon.ion-ios-upload-outline.w3-xxlarge.hoverbtn
            block content
    block footer
    script.
        function updateItem(e) {
            var editForm = document.getElementById('update-form');
            // display update form
            editForm.style.display = 'block';
            var id = e.parentNode.parentNode.childNodes[1].innerText;
            document.getElementById('id-to-update').value = id;
        }
        function deleteItem(e) {
            var deleteForm = document.getElementById('delete-form');
            deleteForm.style.display = 'block';
            var id = e.parentNode.parentNode.childNodes[1].innerText;
            document.getElementById('id-to-delete').value = id;
        }
