- var title = "Update Barang"
- var action = "/item-amount/update"
- var formId = "update-form"
- var buttonName = "Update"

include BaseModal.pug
    block form
        block inputs
            label.w3-label SKU
            input.w3-input#id-to-update(
                name="SKU"
                disabled="disabled"
            )
            label.w3-label Nama Item
            input.w3-input(
                name="Name"
            )
            label.w3-label Jumlah Sekarang
            input.w3-input(
                name="Quantity"
                type="number"
            )
        button.w3-btn.w3-teal.w3-margin-top.w3-margin-bottom.w3-right(type="submit")= buttonName
